@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
    position: absolute;
    width: 100%;
    /* z-index: 3; */
  }


  .body-content{
      display: flex;
      width: 100%;
      /* position: absolute; */
  }

body{
    display: block;
    /* font-family: montserrat; */
    /* display: flex;
    position: relative;
    background-image: url('/images/bg1.jpg'); */
    /* background-color: #cccccc; */
}
nav{
    /* height: 80px; */
    width: 100%;
    background: #13406d;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}

nav .logo{
    float: left;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 10px;
    line-height: 80px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    padding-top: 15px;
}

nav ul.main-nav{
    padding-top: 15px;
}

nav ul li{
    float: left;
    display: inline-block;
    background: #13406d;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding-left: 8px 15px;
}
nav ul li a:hover{
    border: 1px solid white;
    transition: .5s;
}

a.active,a:hover{
    border: 1px solid white;
    transition: .5s;
}

nav ul ul li a:hover{
    border: none;
}


nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid black;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 85px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 4;
}

nav ul ul li a{
    line-height: 25px;
    font-size: 12px;
    z-index: 4;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;

}
nav .logo a{
    padding: 5px;
}
nav .logo a:hover{
    border: none;
}
nav .logo img{
    padding-top: 5px;
    padding-bottom: 0px;
}



 nav #icon{
     color: white;
     font-size: 30px;
     line-height: 80px;
     float: right;
     margin-right: 40px;
     cursor: pointer;
     display: none;
 }
 


.show,.icon,.show2,nav input{
    display: none;
}



@media all and (max-width: 800px){
    nav ul{
        margin-right: 0px;
        float: left;
    }

    nav .logo{
        padding-left: 30px;
        width: 100%;
    }

    .show + a, ul{
        display: none;
    }

    nav ul li, nav ul ul li{
        display: block;
        width: 100%;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 10px;
        line-height: 70px;
        cursor: pointer;
    }
    .show2{
        display: block;
        color: white;
        font-size: 15px;
        padding: 18px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: white;
    }

    nav ul ul{
        top: 70px;
        position: static;
        border-top: 0px;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;        
    }
    
    nav ul ul a{
        padding-left: 40px;
    }

    nav ul ul ul a{
        padding-left: 80px;
    } 

    nav ul ul ul li{
        position: static;
    }

    [id^=btn]:checked + ul{
        display: block;
    }

    nav ul ul li{
        border-bottom: 0px;
    }

    .icon{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav ul li a:hover{
        border: none;
    }
    .show + a, ul{
        display: none;
    }
    .show2 + a, ul{
        display: none;
    }
    .main-content{
        display: flexbox;
    
    }


    .container .text{
        font-size: 30px;
    }

    .container form{
        padding: 10px 0 0 0 0;
    }

    .container .form-row{
        display: block;
    } 

    .container .form-row .input-data{
        margin: 35px 0!important;
    }

    .container .form-row.submit-btn{
        display: block;
    }

    .submit-btn .input-data{
        width: 40%!important;
    }


    .container .text{
        font-size: 30px;
    }

    .container form{
        padding: 10px 0 0 0 0;
    }

    .container .form-row{
        display: block;
    } 

    .container .form-row .input-data{
        margin: 35px 0!important;
    }

    .container .form-row.submit-btn, .container .form-row .input-data input{
        display: block;
    }

    .submit-btn .input-data{
        width: 40%!important;
    }

    .content-table{
        width: 60%;
        margin-top: 20[x];
    }
    .content-table th{
        display: none;
    }

    .content-table td{
        display: block;
    }

    .content-table td:first-child{
        padding-top: 0.5em;
    }
    .content-table td:last-child{
        padding-bottom: 0.5em;
    }

    .content-table td::before{
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }

    table.blue{
        width: 60%;
        margin-top: 20[x];
    }
    table.blue th{
        display: none;
    }
    
    table.blue td{
        display: block;
    }
    
    table.blue td:first-child{
        padding-top: 0.5em;
    }
    table.blue td:last-child{
        padding-bottom: 0.5em;
    }
    
    table.blue td::before{
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 6.5em;
        display: inline-block;
    }

    table.data-display td{
        display: block;
    }

   
}


.section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;  
    background: url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

/* footer */

footer{
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #d9d9d9;
    margin-bottom: 0px;
}

.main-content{
    display: flex;

}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .content{
    margin: 20px 0 0 0;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: justify;
}
.left .content .social .a{
    padding: 0 2px;
}
.left .content .social a span{
    color: #d9d9d9;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .content .social a span:hover{
    background: #2c65b9;

}


.box ul li a{
    color: #d9d9d9;
}

.box ul li a:hover{
    border: none;
    font-size: 110%;

} 

/* form & containers*/
body div.container .{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;  
}
/* normal form container */
.container{
    background: #ffffff;
    min-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px 25px 25px 25px;
}

.container-map .container{
    max-width: initial;
    margin-bottom: 20px;
}

/* table container */
.container-table{
    background: #ffffff;
    position: relative;
    width: 90%;
    /* width: 800px; */
    min-width: 600px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    opacity: 0.9; 
    /* z-index: ; */
    align-items: center;
    margin: 0px 50px;
    border-radius: 25px 25px 25px 25px;
}

/* .res-table{
    overflow-x: auto;
} */





.container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: left;
}

.container form{
    padding: 30px 0 0 0 0;
}

.container form .form-row{
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea{
    height: 70px;
}

.input-data input, .textarea textarea,.input-data select{
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 12);
}

.textarea textarea{
    resize: none;
    padding-top: 10px;
}

.input-data label{
    position: flex;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
}

.textarea label{
    width: 100%;
    border: 10px;
    background: #fff;
}

.submit-btn .input-data{
    height: 45px!important;
    width: 30%!important;
    overflow: hidden;
}
.submit-btn .input-data input.blue-btn:hover{
    background: #2476c7;
    font-size: 101%;
}

.submit-btn .input-data input{
    position: relative;
    z-index: 2;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    visibility: visible;

}

button{
    display: block;
    position: absolute;
    align-self: flex-start;
    justify-self: left;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    padding: 10px 40px;
    border-radius: 15px 15px 15px 15px;
    /* margin-left: 10px; */
}

button.submit-btn{
    background-color: #13406d;
}

button.submit-btn.search{
    float: left;
    left: 0px;
}

button.back-btn{
    background-color: #5f031a;
    position: relative;
    right: 0px;
    /* align-self: flex-end; */
    /* justify-self: right; */
    float: right;
}


/* collapsible button which opens a table */

button.collapsible{
    display: block;
    position: relative;
    width: 100%;
    background-color: #13406d;
    font-size: 0.9em;
    color: white;
    text-align: left;
    padding: 10px;
    margin-left: 0px;
    font-weight: bold;
}

button.collapsible:hover{
    background: #0c2742;
}


/* back and submit buttons */
button.back-btn:hover{
    border: solid 1px white;
    background-color: #b90834;
    font-size: 18px;
}

button.submit-btn:hover{
    border:solid 1px white;
    background: #2476c7;
    font-size: 18px;
}

/* 
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 40px;  
background: url(../images/bg1.jpg) no-repeat;
background-size: cover;
height: calc(100vh - 80px); */

/* .input.-btn{
    padding: 25px 25px;
} */

/* .submit-btn .input-data input:hover{
    background: #585858;
    font-size: 18px;
} */
a.blue-btn:hover{
    color: #fff;
    background: #2476c7;
    font-size: 97%;
    transition: none;
}

a.blue-btn{
    color: #fff;
    background: #13406d;
    margin: 1px;
    border: 1px solid #000;
    box-shadow: 1px 1px 1px #000;
    padding-bottom: 1px;
    padding-top: 0.5px;
}
input.blue-btn:hover{
    color: #fff;
    background: #2476c7;
    font-size: 89%;
}

input.blue-btn{
    color: #fff;
    background: #13406d;
    margin: 1px;
    /* padding: 8px; */
}

input.green-btn{
    color: #fff;
    background: #0d883c;
}
input.green-btn:hover{
    color: #fff;
    background: #16c95b;
    font-size: 89%;
}
input.red-btn{
    color: #fff;
    background: #5f031a;
    margin-left: 5px;
}
input.red-btn:hover{
    color: #fff;
    background: #b90834;
    font-size: 89%;
}

input.red-btn-r{
    color: #fff;
    background: #5f031a;
    margin-top: 5px;
    margin-left: 5px;
}
input.red-btn-r:hover{
    color: #fff;
    background: #b90834;
    font-size: 89%;
}



/* table */

.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 70%px;
    border-radius: 5px 5px 0 0;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table table{
    width: 100%;
}

.content-table thead tr{
    background-color: #13406d;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid #c0c0c0;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #13406d;
}

table.blue{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 70%;
    border-radius: 5px 5px 0 0;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


table.blue thead tr{
    background-color: #13406d;
    color: white;
    text-align: left;
    font-weight: bold;
}

table.blue th, td{
    padding: 12px 15px;
}

table.blue tbody tr{
    border-bottom: 1px solid #c0c0c0;
}

table.blue tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

table.blue tbody tr:last-of-type{
    border-bottom: 2px solid #13406d;
}

/* data display  For account data display and schedule display*/

table.data-display{
    width: 100%;
    border-collapse: collapse;
    margin: 25px 20px  ;
    font-size: 0.9em;
    min-width: 70%;
    border-radius: 5px 5px 0 0;
    opacity: 1;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

table.data-display caption{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    color: #13406d;
}


table.data-display thead tr{
    background-color: #13406d;
    color: white;
    text-align: left;
    font-weight: bold;
}

table.data-display th, td{
    padding: 12px 15px;
}

table.data-display tbody tr{
    padding: 2px;
    margin: auto;
    border-bottom: 1px solid #c0c0c0;
}

table.data-display tbody tr:last-of-type{
    border-bottom: 2px solid #13406d;
}

/* Schedule display  */

span.fa.fa-times{
    color: rgb(255, 38, 0);
}
span.fa.fa-check{
  color: #13406d;
}

/* collapsible content available days*/
.collapsible-content{
  display: none;
}







/* search box */

body div.container-searchbox .{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding: 40px;  
  }
  
  .container-searchbox{
      background: #ffffff;
      min-width: 700px;
      position: relative;
      /* left: 40px; */
      /* align-self: flex-start; */
      margin: 0px 350px;
      /* float: left; */
      padding: 10px 100px;
      border: solid #13406d;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      border-radius: 25px 25px 25px 25px;
  }
  
  
  .container-searchbox .text{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
  }
  
  .container-searchbox form{
      padding: 30px 0 0 0 0;
  }
  
  .container-searchbox form .form-row{
      display: flex;
      margin: 32px 0;
  }

  .container-searchbox .searchlogo img{
      margin-left: 150px;
  }
/* 
  .searchlogo{
      padding-left: 200px;
  } */
  .searchlogo img{
    display: block;
    margin-left: 30px;
    margin-right: auto;
    width: 150px;
    margin-top: 0px;
  }




  /* popup searchbox */

  body div.container-searchbox-popup .{
    display: flex;
    /* position: fixed; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;  
  }
  
  .container-searchbox-popup{
      background: #ffffff;
      display: none;
      position: absolute;
      left: 40px;
      top: 200px;
      float: left;
      justify-self: left;
      align-self: flex-start;
      max-width: 800px;
      max-height: 600px;
      padding: 10px 100px;
      border: solid #13406d;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      z-index: 2;
      border-radius: 25px 25px 25px 25px;
      margin-top: 30px;
  }
  
  
  .container-searchbox-popup .text{
      font-size: 35px;
      font-weight: 600;
      text-align: center;
  }
  
  .container-searchbox-popup form{
      padding: 20px 0 0 0 0;
  }
  
  .container-searchbox-popup form .form-row{
      display: flex;
      margin: 32px 0;
  }



/* html  page structure */


.body-section{
    background-image: url('../img/aaa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 160vh; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    /* height: 100px; */
    /* align-items: center; */
    justify-content: center;
    /* display: block; */
}

/* defines a row in the html page */
.content-row{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    /* display: flex */
    padding: 20px 0px;
    flex: 1;
}

/* defines a page row which centres the content used in single search box displays without pop up */
.content-flexrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    /* display: flex */
    padding: 20px 0px;
}



/* map */

#map{
    height: 500px;
    width: 100%;
    height: 700px;
    margin-left: 20px;
    position: relative;
}

.container-map{
    background: #ffffff;
    width: 90%;
    min-height: 950px;
    /* min-width: 500px; */
    padding: 25px 100px 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    opacity: 0.9;
    /* margin-top: 40px;  */
    margin: 0px 40px;
    /* align-items: center; */
    /* z-index: -1; */
    border-radius: 25px 25px 25px 25px;
}

.container-map table{
    margin-left: 20px;
}

.labels {
    color: white;
    background-color: red;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    width: 30px;
    white-space: nowrap;
}

.invalidFeedback{
    color: #ff0000;
    font-size: 10px;
}



 


