*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

.container{
	max-width: 1500px;
	margin: auto;
	padding-right: 25px;
	padding-left: 25px;
}

.body-section{
	background-image:  url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.content-row{
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    /* display: flex */
    padding: 20px 0px;
    flex: 1;
}

.title{
	text-align:center;
	margin: 10px 0;
	padding: 0 70px;
	position: relative;
	line-height: 50px;
	font-weight: 600;
}

@media screen and (max-width: 932px){

	.title {
		padding: 0 20px;
		font-size: 1.5em;
	}

}
    
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}


.col-2{
	flex-basis: 50%;
	min-width: 350px;
}

.col-4{
	/*flex-basis: 35%;*/
	min-width: 300px;
}

.col-3{
	flex-basis: 65%;
	min-width: 400px;
}

.col-l{
	flex-basis: 85%;
	min-width: 400px;
}

.btn {
	/*display: inline-block;*/
	background: rgb(28, 36, 52);
	color: #fff;
	padding: 8px 10px;
	margin: 20px auto;
	border-radius: .25rem;
	cursor: pointer;
	min-width: 150px;
	border:none;
	border: 1px solid transparent;
	font-size: 1em;
  	font-weight: 400;
  	text-align: center;
}

.blue-btn:hover{
    color: #fff;
    opacity: 0.8;
}

.blue-btn{
    color: #fff;
    background: #13406d; 
    border-color: #13406d;
}

.pop-up-btn:hover{
    color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.pop-up-btn{
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    font-weight: 600;
    border: 3px solid  #f8f9fa;
    position: absolute;
    top: 110px;
    left: 50px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#pop-up {
    text-align: center;
}

.back-btn {
	margin-left: 80%;
}


/*used in alerts and profile*/
.btn-group button {
  /*background-color: #13406d;*/ /* Green background */
  /*border: 1px solid rgb(28, 36, 52);*/ /* Green border */
  /*color: white;*/ /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin: 5px;
  /*width: 20%;*/
  text-transform: uppercase;
  min-width: 190px;
  border-radius: .25rem;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid transparent;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:870px){

	.btn-group button {
		width: 100%;
		margin: 5px auto;
		background-color: rgba(8, 105, 114, 0.9);
		font-weight: 500;
	}

	.btn-group {
		padding: 0 80px;
	}
}

@media screen and (max-width:648px){

	.btn-group {
		padding: 0 40px;
	}

}

/*if the buttons are close together*/
/*.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */


/* Add a background color on hover */
/*.btn-group button:hover {
  background-color: #2476c7;
}*/

/*end of buttons*/




/*navigation bar*/

/*nav{
	background:#13406d ;
	height: 105px;
	width: 100%;
	padding-top: 10px;
	display: block;
}

nav .logo{
	float:left;
	color: white ;
	font-size: 35px;
	font-weight: bold;
	line-height: 80px; 
	padding: 0 20px;
}

nav .logo a{
    padding: 5px;
}
nav .logo a:hover{
    border: none;
}
nav .logo img{
    padding-top: 5px;
    padding-bottom: 0px;
}

nav ul {
	float: right;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
}

nav ul li a.active, nav ul li a:hover{
	color: #afafaf;
	transition: 0.15s ease-in;
	outline: white 1px solid;
}

nav ul ul{
	position: absolute;
	top: 80px;
	display: none;
	z-index: 5;
	background:#13406d /*rgb(28, 36, 52);
	border-top: 3px solid black;
}

nav ul li:hover > ul{
	display: block;
	z-index: 5;
}

nav ul ul li a:hover{
   outline: none;

}


nav ul ul li{
	width: 140px;
	height: 70px;
	float: none;
	display: list-item;
	position: relative;
}

nav ul ul li a{
	font-size: 14px;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	float:right;
	margin-top: 25px;
	display: none;
}

.dropdown{
	margin: 0 auto;
}


@media (max-width: 1100px){

	.menu-icon {
		display: block;
		cursor: pointer;
		margin-right: 20px;
	}

	nav ul{
		position: absolute;
		width: 100%;
		background: #13406d /*rgb(28, 36, 52);
		top: 90px;
		left: 0;
		text-align: center;
		overflow:hidden;
		transition: max-height 0.5s;
		z-index: 5;
	}

	nav ul li{
		display:block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 6vh;
		z-index: 5;
	}

	nav ul li a{
		font-size: 16px;
		z-index: 5;
	}

	label.logo{
		padding: 0 40px;
	}
}
*/
/*end of navbar*/


/*navbar 2*/

.nav-cotainer ul{
    list-style: none;
}

.nav-container ul a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color:#13406d; /*#60b4df;*/
    width: 100%;
    z-index: 1000;
}

/*section{
    position: relative;
    height: calc(100vh - 3rem);
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}*/

/*.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}*/

.nav-container{
    max-width: 85rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    /*flex: 3;*/
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}
/*
.btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}
*/
.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 1.25rem;
    letter-spacing: 1px;
    font-size: .1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
    text-transform: uppercase;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.nav-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.nav-dropdown ul{
    position: relative;
}

.nav-dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #13406d;/*#3498db;*/
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.nav-dropdown-link:hover > a{
    background-color:#13406d; /*#3498db;*/
    color: #fff;
}

.nav-dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.nav-dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.nav-dropdown-link:first-child:hover ~ .arrow{
    background-color: #13406d; /*#3498db;*/
}

.nav-dropdown-link{
    position: relative;
}

.nav-dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.nav-dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .nav-dropdown,
.nav-dropdown-link:hover > .nav-dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

.show, .show2, .nav-container input{
    display: none;
}


@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){

	.show + a, ul{
        display: none;
    }

    /* .show2 + a{
        display: none;
    } */

    .show{
        text-transform: uppercase;
        width: 100%;
        display: block;
        color: white;
        font-size: 17px;
        padding: 10px 30px;
        justify-content: space-between;
        letter-spacing: 1px;
        line-height: 70px;
        cursor: pointer;
    }
    .show2{
        text-transform: uppercase;
        width: 100%;
        display: block;
        color: white;
        font-size: 15px;
        padding: 18px 40px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        background-color: #13406d;
    }

    .show2:hover{
        background-color: #13406d;
    }

 

    [id^=btn]:checked + .nav-dropdown > ul{
        display: block;
    }

    [id^=btn]:checked + .nav-dropdown.second > ul{
        display: block;
    }


    .show + a, .nav-dropdown ul{
        display: none;
    }
    
    .show2 + a, .nav-dropdown.second ul{
        display: none;
    }



	
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 5rem;
        left: 0;
        width: 100%;
        background-color:#13406d;/* #69bde7;*/
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #1b5a98;/*#50a9d6;*/
    }

    .nav-dropdown, .nav-dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #0F3356; /*#3183ac;*/
        display: none;
    }
    
    .nav-link:hover > .nav-dropdown,
    .nav-dropdown-link:hover > .nav-dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .nav-dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .nav-dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .nav-dropdown.second .nav-dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .nav-dropdown.second .nav-dropdown.second .nav-dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .nav-dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color:#13406d; /*#69bde7;*/
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color:#1b5a98; /*#50a9d6;*/
    }

    .nav-dropdown .nav-dropdown .arrow{
        display: none;
    }

    .nav-dropdown-link:hover > a{
        background-color: #1b5a98;;/*#3a91bd;*/
    }

    .nav-dropdown-link:first-child:hover ~ .arrow{
        background-color: #1b5a98;/*#50a9d6;*/
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .nav-dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}
/*end of navbar 2*/

/*banner*/

.banner{
	background: url('../img/banner.jpg');
	background-size: cover;
	min-height: 95vh;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.wrapper-landing{
	position: relative;
	text-align: center;
	margin: 0 auto;
	top: 40vh;
}

.banner h1{
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-weight: 500;
	letter-spacing: 3px;
}

@media screen and (max-width: 1200px){

	.banner h1{
		font-size: 32px;
		letter-spacing: 5px;
		white-space: nowrap;
	}

}

@media screen and (max-width: 900px){

	.banner h1{
		font-size: 28px;
		letter-spacing: 3px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 600px){

	.banner h1{
		font-size: 24px;
		letter-spacing: 0;
		white-space: nowrap;
	}
}

.search-box{
	position: absolute;
	top: 8vh;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255,255,255, 0.6);
	height: 50px;
	width: 45%;
	min-width: 300px;
	border-radius: 40px;
	padding: 10px 15px;
}

.search-btn{
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black; 
	font-size:16px;
	transition: 0.4s;
	line-height: 30px;
	width: 240px;
}*/

/*end of banner*/



/*login*/

.container-login {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.wrapper-login {
	position: relative;
	top: 19vh;
	width: 30%;
	min-width: 310px;
	margin:0 auto;
	text-align: center;
	padding: 20px 0;
	background: #ffffff;
	opacity: 0.95;
	max-height: 600px;
}

.wrapper-login input{
	width: 80%;
	height: 30px;
	border: 1px solid #CCCCCC;
	background-color: #f5f5f5;
	font-size: 14px;
	display: block;
	position: relative;
	margin: 20px auto 0 auto;
	padding: 5px;
}

.wrapper-login input::placeholder {
	color: #a1a1a1;
	font-size: 14px;
}

.wrapper-login h2 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
}

#submit {
	min-width: 200px;
	width: 60%;
	height: 42px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #ffffff;
	font-size: 20px;
	margin: 40px auto 10px auto ;
}

#submit:hover {
	border: 1px solid #a1a1a1;
	background-color: #a1a1a1;
	transition: 0.15s ease-in;
}

.options a {
	color: #006400;
	font-size: 14px;
}

.options a:hover {
	color: #000000;
	transition: 0.2s ease-in;
	text-decoration: none;
}

.invalidFeedback {
	color: #ff0000;
	font-size: 14px;
	display: block;
}

/*.login-hide {
	display: none;
	font-size: 14px;
	text-align: left;
	margin-left: 45px;
}

.login-hover:valid + .login-hide {
	display: block;
}*/
/*end of login*/




/*mini schedule*/

.notices-container{
	width: 60%;
	margin: 0 auto;
	padding: 0 20px;
}

.mini-input-data{
	display:block;
	width: 100%;
	padding: 5px 0;
}

.mini-input-data label{
    margin-bottom: 10px;
    font-size: 16px;
    pointer-events: none;
}

.mini-input-data select{
	display:block;
	height: 30px;
	width: 90%;
	margin:10px 10px 10px 0;
/*	border: none;*/
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.12);
}

.mini-schedule{
	background:rgba(179, 217, 255, 0.8);
	/*border: 5px solid #ccc;*/
	height: 60vh;
	min-width: 280px;
	width: 100%;
	position: relative;
	overflow:hidden;
	padding: 20px 35px 35px 35px;
	box-shadow: 0px 0px 18px -8px rgba(118,130,183,1)
}

.mini-schedule .form-row{
	display:flex;
}

.mini-schedule .title{
	padding: 0 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 989px){

	.mini-schedule h2{
		font-size: 20px;
	}
}

@media screen and (max-width: 925px){

	.mini-schedule {
		padding: 20px 60px 35px 60px;
	}

	.notices-container{
		padding: 10px;
	}

	.container {
		padding: 10px;
	}

	.mini-schedule h2{
		padding: 0 10px;
		line-height: 40px;
		font-size: 24px;
		margin-bottom: 0px;
	}

	.mini-input-data label{
		margin-bottom: 5px;	
	}

	.mini-input-data input{
		margin: 5px 0;	
	}

	.mini-input-data select{
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
	}

	.mini-schedule .title{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 500px){

	.mini-schedule {
		padding: 20px 35px;
	}
}
/*end of mini schedule*/



/*reserve shortcuts*/

#carousel{
	background-color: black;
	margin: 60px auto;
}

#carousel .btn{
	width: 160px;
	display: block;
	border-color: #fff;
	border: 1px solid;
	background:none;
	cursor: pointer;
	margin: 10px auto;
	border-radius: 0;
}

#carousel .btn:hover {
	background-color: #fff;
	color: black;
}


.slideshow{
	width: 100%;
	height: 70vh;
	position: relative;
	overflow: hidden;
}
.slideshow-item{
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	animation: cycleImages 30s infinite;
}

.slideshow-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation: zoomImages 30s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
	animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
	animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
	animation-delay: 20s;
}

.slideshow-item-text{
	width: 55%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,0.8);
	padding: 3rem 3rem; 
	color: #fff;
}

.slideshow-item-text h3{
	font-size: 1.5rem;
	letter-spacing: 3px;
	margin-bottom: 2rem;
	font-weight: 300;
	text-align: center;
}

.slideshow-item-text p{
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: lighter;
	margin-bottom: 30px;
}

@keyframes cycleImages {
	25%{
		opacity: 1;
	}
	40%{
		opacity: 0;
	}
}

@keyframes zoomImages {
	100%{
		transform: scale(1.2);
	}
}

@media screen and (max-width: 1150px){
	.slideshow-item-text{
		width: 45%;
		padding: 3rem 2rem;
	}

	.slideshow-item-text h3{
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 990px){
	.slideshow-item-text{
		width: 100%;
		padding: 2rem;
		top:initial;
		bottom:0;
		transform: initial;
	}

	.slideshow-item-text h3{
		font-size: 1rem;
	}
}

/*end of reserve shortcuts*/


@media screen and (max-width: 925px){

	.notices-container{
		width: 100%;
		margin-top: 60px;
	}

	.col-4{
	    flex-basis: 90%;
	}

	.col-3{
		flex-basis: 90%;
		min-width: 300px;
	}
}


/*search trains form */

.form-container{
    background: #ffffff;
    width: 50%;
    max-width: 550px;
    max-height: 700px;
    position: relative;
    margin: 0px auto;
    padding: 25px 50px 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    border-radius: 25px;
}

/*.form-container form{
	padding: 30px 0 0 0 0;
}*/

.form-container form .form-row{
	display: flex;
	margin: 30px 20px;
	position: relative;
}

form .form-row .input-data{
	width: 100%;
	height: 30px;
	/*margin: 0 20px;*/
}

.input-data input{
	display:block;
	height: 100%;
	width: 100%;
	border: none;
	font-size: 17px;
	color: rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.12);
}

.input-data label{
	position: absolute;
	bottom: 11px;
	font-size: 16px;
	pointer-events: none;
	transition: all 0.3s ease;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
	transform: translateY(-20px);
	color: #17a2b8;
	font-size: 14px;
}

.input-data input:focus{
	outline: none;
	color: black;
	opacity: 0.9;
}

.input-data input:valid{
	color: black;
	opacity: 0.9;
}


.input-data .underline{
	position: absolute;
	bottom: 0;
	height: 1px;
	width: 100%;
	overflow: hidden;
}

.input-data .underline:before,
.input-data .underline:after{
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #17a2b8;;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before, .underline:after,
.input-data input:valid ~ .underline:before, .underline:after{
	transform: scaleX(1);
}

.form-container form input{
	padding: 0 10px 0 30px;
	margin: 0;
}

@media screen and (max-width: 925px) {

	.form-container form{
		padding: 10px 0 0 0;
	}

	.form-container form .form-row{
		display:block;
	}

	.form-container{
		width: 70%;
	}

	.form-conatiner form .form-row .input-data{
		/*margin: 35px 0! important;*/
		margin: 10px 0! important;
	}

	.input-data .underline{
		bottom: 0px;
		height: 2px;
		width: 100%;
	}

	.form-container .title{
		font-size: 28px;
	}
}


/*end of search trains form*/



/*table */

.content-table{
	border-collapse: collapse;
	margin: 25px auto; /*space btw content inside and bottom*/
	/*font-size: 0.9em;*/
	min-width: 600px;
	width: 90%;
	border-radius: 5px 5px 0 0;
	overflow:hidden; /*cuz table rows dont have the radius */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.details-content-table{
	border-collapse: collapse;
	margin: 25px auto; /*space btw content inside and bottom*/
	/*font-size: 0.9em;*/
	min-width: 400px;
	width: 70%;
	border-radius: 5px 5px 0 0;
	overflow:hidden; /*cuz table rows dont have the radius */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
	background-color:#13406d ;/*#45A29E;*/
	color: #fff;
	text-align: left;
	font-weight: bold;
}

.details-content-table tr th{
	/*background-color:none;*/
	text-align: left;
}

.content-table th{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.details-content-table th{
	padding: 15px 30px;
	border-right: 1px solid #C5C6C7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.details-content-table th,
.details-content-table td,
.content-table th,
.content-table td{
	padding: 15px 15px;
	/*border-right: 1px solid #C5C6C7;*/
}

.details-content-table tbody tr,
.content-table tbody tr{
	border-bottom: 1px solid #C5C6C7;
}

.content-table tbody tr:nth-of-type(even){
	background-color: #f3f3f3;
}

.details-content-table tbody tr:first-of-type{
	border-top: 3px solid #13406d ;
}

.details-content-table tbody tr:last-of-type,
.content-table tbody tr:last-of-type{
	border-bottom: 3px solid #13406d ;
}

.content-table tr button{
	border-radius: .25rem;
	background-color: #6c757d;
	border:none;
	margin: 0;
	font-size: 1em;
	/*opacity: 0.8;*/
	transition: 0.3s;
}

.content-table tr button:hover{
	/*opacity: 1;*/
	background-color:  #343a40;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);;
}


@media screen and (max-width: 1000px){

	.table-container .title{
		padding: 0 10px;
	}

	.table-container {
		min-width: 420px;
	}

	.content-table {
		min-width: 350px;
		width: 80%;
	}

	.details-content-table {
		min-width: 350px;
	}

	.content-table thead {
		display:none;
	}

	.content-table tr,
	.content-table td {
		display: block;
	}

	.content-table tbody tr {
		border-bottom: 3px solid #13406d ;
	}

	.content-table tbody td {
		padding-left: 55%;
		position: relative;
	}

	.content-table td::before {
		position: absolute;
		padding: 15px;
		left: 0;
		top: 0;
		bottom: 0;
		width: 40%;
		content: attr(data-label);
		font-weight: 500;
		text-transform: uppercase;
		background-color: #f3f6fa;

	}

	.content-table tbody tr:nth-of-type(even){
		background-color:inherit;
	}

	.back-btn {
		margin-left: 60%;
	}
}
/*end of content table*/ 



.table-container {
    background: #ffffff;
    position: relative;
    width: 80%;
    /* width: 800px; */
    /*min-width: 600px;*/
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
 /*   align-items: center;*/
    margin:0px auto;
    border-radius: 25px;
}



/*pop up module*/
.bg-modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center; /*align stuff in the center*/
	align-items: center; /*align vertically*/
	display: none;
}


.modal-content {
	width: 400px;
	height: 500px;
	background-color: white;
	opacity:1;
	position: relative;
}

.modal-content .notices-container{
	margin: 0;
	width: 100%;
	height: 500px;
	padding: 10px;
}

.modal-content .mini-schedule{
	height: 100%;
}

.close {
	position: absolute;
	top:5px;
	right: 15px;
	cursor: pointer;
	transform: rotate(45deg);
	z-index: 5;
	font-size: 36px;
}

.modal-content .content-table {
	margin-top: 10px;
	font-size: 14px;
}

.modal-content .title {
	margin-bottom: 10px;
	margin-top: 10px;
}


.modal-content #details{
	min-width: 300px;
	width: 90%;
}

/*end of pop up*/



/*pop up search */
.mini-schedule form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

.mini-input-data{
	display:block;
	width: 100%;
	padding: 5px 0;
}

.mini-input-data label{
    margin-bottom: 10px;
    font-size: 16px;
    pointer-events: none;
}

.mini-input-data select{
	display:block;
	height: 30px;
	width: 90%;
	margin:10px;
/*	border: none;*/
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.12);
}

.mini-schedule{
	background:#a5ecd7;
	/*border: 5px solid #ccc;*/
	/*color: white;*/
	height: 60vh;
	min-width: 300px;
	width: 100%;
	position: relative;
	overflow:hidden;
	padding: 20px 35px 35px 35px;
	box-shadow: 0px 0px 18px -8px rgba(118,130,183,1);
}

.mini-schedule .form-row{
	display:flex;
}

.mini-schedule .title{
	padding: 0 20px;
	margin-bottom: 20px;
}

@media screen and (max-width: 925px){

	.mini-schedule {
		padding: 20px 60px 35px 60px;
	}

	.notices-container{
		padding: 10px;
	}

	.container {
		padding: 10px;
	}

	.mini-schedule h2{
		padding: 0 10px;
		line-height: 40px;
		font-size: 26px;
		margin-bottom: 0px;
	}

	.mini-input-data label{
		margin-bottom: 5px;	
	}

	.mini-input-data input{
		margin: 5px 0;	
	}

	.mini-input-data select{
		margin-top: 5px;
		margin-bottom: 5px;
		width: 100%;
	}
}

@media screen and (max-width: 500px){

	.mini-schedule {
		padding: 20px 35px;
	}

}
/*end of pop up search*/



/*alerts and pop up*/

.alerts-row {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.table-container .row .alert-search-box{
	border: 1px solid black;
	position: relative;
	float: left;
	width: 100%;
	height: 45px;
	border-radius: 0px;
	background: white;
	/*margin: 0 10px;*/
	/*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);*/
	padding: 10px 15px;

}

.table-container .row .search-txt{
	min-width: 150px;
	width: 70%;
	color:black;
}

.table-container .row select{
	display:block;
	height: 45px;
	width: 100%;
	/*margin:0 10px 0 0;*/
/*	border: none;*/
	font-size: 16px;
	border: 1px solid black;
}


/* Dropdown Button */
.dropbtn {
  background-color: #979797;;
  color: black;
  padding: 10px;
  font-size: 15px;
  border: none;
  min-width: 150px;
  width: 100%;
  text-transform: uppercase;
  border-radius: 0.25rem;
  height: 40px;
  margin-left: 5px;
  font-weight: 500;
}

.dropbtn:hover{
	background-color: #3c4245;
	color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
  font-weight: 600;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	opacity: 0.9;
}

/*only alerts*/
.col {

	flex-basis: 25%;
	margin: 20px 0 20px 0;

}

/*subscribe and my alerts buttons*/
#cng button{
	min-width:120px;
}

@media screen and (max-width: 1170px){

	.col {
	    flex-basis: 80%;
	}

	/*.table-container .col-4 {
		flex-basis: 80%;
		min-width: 250px;
	}*/

}
/*end of alerts and pop up*/


/*map*/
#map{
    height: 500px;
    width: 100%;
    height: 700px;
    /*margin-left: 20px;*/
    position: relative;
}
/*end of map*/


/*home page notices*/
/*new part of teh home page*/
#notices-section{
	width: 100%;
	height: 90vh;
	/*background: url(train12.png);
	background-size: cover;*/
	background-color:rgba(8, 105, 114, 0.7);
	position: relative;
}


section .leftbox {
	width: 40%;
	height: 100%;
	float: left;
	padding: 100px 120px;
	box-sizing: border-box;
	/*margin-left: 0;*/
}

section .leftbox .content {
	color: black;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	transition: 0.5s;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

section .leftbox .content .mini-schedule{
	min-height: 450px;
	background-color: white;
}


.leftbox .mini-input-data input, 
.leftbox .mini-input-data select {
	border: 1px solid rgba(0,0,0,0.5);
}

/*
section .leftbox .content:hover {
	background:  #01a9b4;
}*/

section .leftbox .content h1 {

	margin: 0;
	padding: 0;
	font-size: 50px;
	text-transform: uppercase;
}

section .leftbox .content p{

	margin: 10px 0 0;
	padding: 0;
}

section .events {
	position: relative;
	width: 60%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	float: right;
	box-sizing: border-box;
}

section .events ul {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	padding: 0 120px;
    width: 100%;
	box-sizing: border-box;
}

section .events ul li{
	list-style: none;
	background: #fff;
	box-sizing: border-box;
	height: 120px;
	margin: 15px 0;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
}

section .events ul li .time {
	position: relative;
	padding: 20px;
	background: #262626;
	box-sizing: border-box;
	width: 20%;
	height: 100%;
	float: left;
	text-align: center;
	transition: 0.5s
}

section .events ul li:hover .time {
	background: #01a9b4;
}

section .events ul li .time h2 {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
}

section .events ul li .time h2 span{
	font-size: 20px;
}

section .events ul li .time-details {
	padding: 20px;
	background: #fff;
	box-sizing: border-box;
	width: 80%;
	height: 100%;
	float: left;
}

section .events ul li .time-details h3 {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-weight: 600;
}

section .events ul li .time-details p {
	position: relative;
	margin: 10px 0 0;
	padding: 0;
	font-size: 16px;
}

section .events ul li .time-details a {
	display: inline-block;
	text-decoration: none;
	color: black;
	/*padding: 10px 15px;
	border:2px solid #262626;
	margin-top: 15px;
	font-size: 18px;
	transition: 0.5s;
	float:right;*/
}

section .events ul li .time-details a:hover {
	cursor: pointer;
	text-decoration: underline;
}

section .events h1 {
	color: #fff;
	margin: 50px 0;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 35px;
}

#view-all {
	min-width: 200px;
	/*width: 60%;*/
	left: 50%;
	transform: translateX(-50%);
	bottom: 8%;
	height: 45px;
	padding: 10px;
	text-align: center;
	border: 1px solid #000000;
	background-color: #000000;
	color: #ffffff;
	font-size: 16px;
	transition: 0.5s;
	/*margin: 40px auto 10px auto ;*/
	position: absolute;
}

#view-all:hover {
	border: 1px solid #01a9b4;
	background-color: #01a9b4;
	transition: 0.15s ease-in;
}

#nback{
	background-color: #ECECEC;
}

@media (max-width: 991px) {

	#notices-section {

		height: 100%;
		background-position: center;
	}

	section .leftbox {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: auto;
		float: none;
		padding: 20px;
		padding-top: 60px;
	}

	section .events {

		width: 90%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
		background: transparent;
		float: none;
	}

	section .events ul {

		position: relative;
		transform: translateY(0px);
		padding: 0 20px 20px;
		padding-bottom: 120px;
	}

	section .leftbox .content h1 {
		font-size: 30px;
	}

	section .events ul li {
		height: auto;
	}

	section .events ul li .time {
		width: 85px;
		height: 85px;
		padding: 0;
	}

	section .events ul li .time h2 {
		font-size: 24px;
		line-height: 24px;

	}

	section .events ul li .time h2 span {
		font-size: 20px;
	}

	section .events ul li .details {
		width: 100%;
		float: none;
		padding-left: 100px;
		background: transparent;
	}

	section .events ul li .details a {
		padding: 5px 10px;
	}


	/*.events #view-all {
		position: relative;

	}*/

}

/*end of home page notices */

/*footer*/
footer{
    /* position: fixed; */
    bottom: 0px;
    width: 100%;
    background: #111;
    color: #d9d9d9;
    margin-bottom: 0px;
}

.contentf span{
	/*display:block;*/
	color: white;
	/*margin-bottom: 15px;
	font-size: 16x;*/
}

.contentf span i{
	/*display:block;*/
	margin-right:10px;
	/*margin-bottom: 15px;
	font-size: 16x;*/
}

.main-contentf{
    display: flex;

}
.main-contentf .box{
    flex-basis: 50%;
    padding: 10px 20px;
    padding-left: 40px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.box .contentf{
    margin: 20px 0 0 0;
}
.left .contentf .social{
    margin: 20px 0 0 0;
}
.left .contentf p{
    text-align: justify;
}
.left .contentf .social a{
    padding: 0 2px;
    float:left;
}
.left .contentf .social a span{
    color: #d9d9d9;
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}
.left .contentf .social a span:hover{
    background: #2c65b9;

}


.box ul li a{
    color: #d9d9d9;
}

.box ul li a:hover{
    border: none;
    font-size: 110%;

} 
/*end of footer*/


